 #carrinho{
  background-color: rgb(162, 162, 230);
  width: 350px;
  height: 350px;
  border-radius: 6%;
  text-align: center;
}

#quantidade-produto-01{
  width: 30px;
  pointer-events: none;
}

#btn-adicionar-produto-01{
  cursor: pointer;
}

#btn-subtrair-produto-01{
  cursor: pointer;
}